* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.header img {
  width: 30px;
  height: 30px;
}
.hearder1 {
  max-width: 1200px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  height: 10vh;
  width: 100%;
}

.hearder1 li {
  padding: 0 10px;
}
.section1 {
  background-image: url(/img/folder-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
}
