footer {
  background-color: #F7F7F9;
}
footer #footer-top .footer-top {
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer-top .footer-top .search {
  position: relative;
}
footer #footer-top .footer-top .search .search-icon {
  position: absolute;
  right: 10px;
  top: 18px;
  font-size: 1rem;
  color: gray;
}
footer #footer-top .footer-top .search input {
  height: 30px;
  padding: 10px;
  width: 400px;
  background-color: white;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.288);
  border-radius: 10px;
}
footer #footer-middle .footer-middle {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-around;
}
footer #footer-middle .footer-middle .footer-contact p {
  max-width: 329px;
  max-height: 81px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7490196078);
  line-height: 27px;
  margin-bottom: 1rem;
}
footer #footer-middle .footer-middle .footer-contact a {
  font-weight: 400;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7490196078);
  line-height: 27px;
  text-decoration: none;
}
footer #footer-middle .footer-middle .footer-contact button {
  width: 179px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.7490196078);
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}
footer #footer-middle .footer-middle .footer-shop h4 {
  width: 45px;
  height: 31px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
  color: rgba(33, 33, 33, 0.7490196078);
  margin-bottom: 1rem;
}
footer #footer-middle .footer-middle .footer-shop ul li {
  list-style: none;
  padding-bottom: 1rem;
}
footer #footer-middle .footer-middle .footer-shop ul li a {
  text-decoration: none;
  color: rgba(33, 33, 33, 0.7490196078);
}
footer #footer-middle .footer-middle .footer-company h4 {
  width: 45px;
  height: 31px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
  margin-bottom: 1rem;
  color: rgba(33, 33, 33, 0.7490196078);
}
footer #footer-middle .footer-middle .footer-company ul li {
  list-style: none;
  padding-bottom: 1rem;
}
footer #footer-middle .footer-middle .footer-company ul li a {
  text-decoration: none;
  color: rgba(33, 33, 33, 0.7490196078);
}
footer #footer-middle .footer-middle .footer-help h4 {
  width: 45px;
  height: 31px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
  margin-bottom: 1rem;
  color: rgba(33, 33, 33, 0.7490196078);
}
footer #footer-middle .footer-middle .footer-help ul li {
  list-style: none;
  padding-bottom: 1rem;
}
footer #footer-middle .footer-middle .footer-help ul li a {
  text-decoration: none;
  color: rgba(33, 33, 33, 0.7490196078);
}
footer #footer-bottom {
  background-color: white;
}
footer #footer-bottom .footer-bottom {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer-bottom .footer-bottom p {
  color: red;
  color: rgba(33, 33, 33, 0.7490196078);
}
footer #footer-bottom .footer-bottom ul {
  display: flex;
  column-gap: 1rem;
}
footer #footer-bottom .footer-bottom ul li {
  list-style: none;
}
footer #footer-bottom .footer-bottom ul li a {
  text-decoration: none;
  font-size: 17px;
  color: black;
}