#banner-section {
    background-color: #FFE2E0;
    padding: 1rem 0;

    .banner-section {

        display: flex;
        justify-content: center;
        align-items: center;

        .banner-left {
            h3 {
                width: 88px;
                height: 41px;
                font-size: 24px;
                font-weight: 700;
                line-height: 40.8px;
                color: red;
                margin-bottom: 1rem;
            }

            h1 {
                margin-bottom: 1rem;
            }

            p {
                max-width: 453px;
                max-height: 81px;
                margin-bottom: 2rem;
                color: #212121BF;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 27.2px;
                text-align: left;


            }

            button {
                width: 179px;
                height: 48px;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                background-color: #206363;
                color: white;
                border: none;
                border-radius: 10px;

            }
        }
        
    }
}